<div>
    <h4> Post #<%= @post.id%>  By <%= @user.name %> </h4>
    <p>
       Comments: <%= @post.comments_counter %>    
       Likes: <%= @post.likes_counter %>
    </p>
</div>

<div>
   <h5>Post: <%= @post.title %> </h5>
   <p>Text: <%= @post.text %> </p>
</div>

<div>
<%= form_with model: @comment, url: user_post_path, class: 'form-group', scope: :form_comment  do |form| %>
   <%= form.text_area :text, class: 'form-control' %>
  <div>
       <%= form.submit 'Add comment' %>
  </div>
<% end %> <br/>

<div>
<%= form_with model: @like, url: likes_path, class: 'form-group' do |form| %>
     <%= form.submit 'Like' %>
<% end %>
</div>

<div>
   <h5> Comments </h5>

   <% @post.comments.each do |comment| %>
      <p> <%= User.find(comment.author_id).name %> : 
      <%= comment.text %> </p>
      <% end %>
</div>
